body {
    margin: 1rem;
}

:root {
    --applicationTitle-fontFamily: 'LexendDeca', sans-serif;
    --applicationTitle-color: #000;
    --greenBackgroundColor-color: #6f9939;
    --textOnGreenBackgroundColor-fontFamily: 'Questrial', sans-serif;
    --textOnGreenBackgroundColor-color: #c9ccd2;
}
