/* Results research */

.resultsResearch {
    text-decoration: none;
}

.resultsResearch__nameProduct {
    margin-top: 27px;
    text-align: center;
    font-family: var(--textOnGreenBackgroundColor-fontFamily);
    font-size: 1.2rem;
    color: var(--textOnGreenBackgroundColor-color);
    margin-right: 25px;
    margin-left: 25px;
}