
.doubleSearch {
    display: flex;
    flex-direction: column;
    background-color: var(--greenBackgroundColor-color);
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 3rem;
}

.doubleSearch__searchByName {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

.doubleSearch__searchByName p {
    font-family: var(--textOnGreenBackgroundColor-fontFamily);
    font-size: 1rem;
    color: var(--textOnGreenBackgroundColor-color);
    margin-bottom: 0;
}

.doubleSearch__searchByName a {
    margin-top: 1rem;
}
