@import url(./style/title.css);
@import url(./style/doubleSearch.css);
@import url(./style/nameNumberSearch.css);
@import url(./style/barCodeSearch.css);
@import url(./style/searchResult.css);
@import url(./style/resultResearch.css);
@import url(./style/product.css);
@import url(./style/favorites.css);
@import url(./style/product.css);
@import url(./style/navbar.css);

@font-face {
    font-family: 'LexendDeca';
    src: url(./assets/fonts/LexendDeca-SemiBold.ttf);
}

@font-face {
    font-family: 'Questrial';
    src: url(./assets/fonts/Questrial-Regular.ttf);
}

:root {
    --applicationTitle-fontFamily: 'LexendDeca', sans-serif;
    --applicationTitle-color: #000;
    --greenBackgroundColor-color: #6f9939;
    --textOnGreenBackgroundColor-fontFamily: 'Questrial', sans-serif;
    --textOnGreenBackgroundColor-color: #c9ccd2;
}

body {
    margin: 1rem;
}
